<div class= 'bg-img-sign-up '>
  <div class= 'container cont_b2 w-50'>
    <h1 class="text-center text-white">Personal Info</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field text-white">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <br>
      <div class="field text-white">
        <%= f.label :age %><br />
        <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
      </div>
      <br>
      <div class="field text-white">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>
      <div class="field text-white">
        <p>Last Location:</p>
        longitude:<%= f.number_field :longitude, autofocus: true, autocomplete: "longitude" %>
        latitude: <%=  f.number_field :latitude, autofocus: true, autocomplete: "latitude" %>
      </div>
      <br>
      <div class="field text-white">
        <%= f.label :image %><br>
        <%= f.file_field :image, direct_upload: true , accept:"image/png, image/gif, image/jpeg"%>
      </div>
      <br>
      <div class="field text-white">
        <span>Gender:</span>
        <%= f.radio_button :gender, "M" %>
        <%= f.label :gender_male, "male" %>
        <%= f.radio_button :gender, "F" %>
        <%= f.label :gender_female, "female" %>
      </div>
      <br>
      <div class="field text-white">
        <p>Password</p>
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> char min)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Next" ,class:"btn btn-success btn-lg"%>
      </div>
      <br>
    <% end %>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to 'Login', user_session_path,class:"btn btn-danger" %>
    </div>
    <br>
    <br>
  </div>
</div>
