<div class="container cont_b">
  <%if current_user.Not_Infected?%>
    <h1>Update </h1>
    <%= form_with(model: @user, local: true) do |form| %>
      <p>
        <%= form.label :longitude %><br>
        <%= form.number_field :longitude , step: 1 , min:-90, max: 90%>
      </p>
      <p>
        <%= form.label :latitude %><br>
        <%= form.number_field :latitude , step: 1 , min:-90, max: 90%>
      </p>
      <p>
        <%= form.label :image %><br>
        <%= form.file_field :image, direct_upload: true , accept:"image/png, image/gif, image/jpeg"%>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  <% else %>
    <h1 class= "text-danger">Sorry You can not update</h1>
  <% end %>
  <%= link_to 'Back', user_path ,class:"btn btn-dark" %>
  <br>
  <br>
