<div class= "jumbotron shadow">
  <h1 class= 'text-center'>Trade Requests</h1>
  <br>
  <h1><%= current_user.name %>'s Profile</h1>
  <br>
  <table class="table">
    <tr class="table-secondary">
      <th >Person Name</th>
      <th>Accept </th>
      <th>Reject</th>
    </tr>
    <% current_user.sending_user.each do |user|%>
      <%user.sending_user_comparison.each do |trade|%>

          <% if trade.pending? %>
          <tr>
            <td><%= user.name %></td>
            <td><%= link_to 'accept', accept_request_trade_path(user.id),method: :post, class:'btn btn-success' %></td>
            <td> <%= link_to 'reject',trade_path(user.id),method: :delete,class:'btn btn-danger' %></td>
          </tr>
        <% end %>
      <% end %>
    <%end%>
  </table>
  <br>
  <div>
    <br />
    <%= link_to 'Back',user_path(current_user),class:"btn btn-secondary shadow" %>
 <div class="d-grid gap-2 col-2 mx-auto">
          <%= link_to 'Trade History',trade_path(current_user),class:"btn btn-dark" %>
        </div>
        <br>
        <br>


