<div class = 'bg-img '>
  <div class='cont_b container w-50'>
    <p>
      <h1><%=@user.name%></h1>
      <br>
      <div class='msm-img'>
        <%= cl_image_tag(@user.image.key, class: 'w', :cloud_name => Rails.application.credentials[Rails.env.to_sym][:cloud_name]) if @user.image.attached?%>
      </div>
      <br>
    </p>
    <p>
      <h3>Location: </h3>
      Lon: &nbsp;<%= @user.longitude%>,&nbsp;Lat:&nbsp;<%= @user.latitude%>
      <%if @user==current_user%>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Update', edit_user_path(@user), class:'btn btn-secondary'%>
        <%= link_to "All Requests",requests_users_path, class:"btn btn-danger" %>
      <% end %>
    </p>
    <%=render 'inventoryTable', :user => @user%>
    <br>
    <span>Total Votes: <%= vote_count(@user)%> </span>
    <br>
    Status: <span class= "text-<%= @user.Infected? ? 'danger' : 'success' %>" ><%= @user.status %> </span>
    <%if current_user.Not_Infected? && current_user!= @user && @user.Not_Infected?%>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "Trade", tradePage_trade_path(@user), method: :post,class:"btn btn-dark" %>
      </div>
      <%if not_voted?(@user) %>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <%= link_to "Vote",vote_user_path(@user) , method: :post, class:"btn btn-danger" %>
        </div>
      <%end%>
    <% end %>
    <br>
    <%= link_to "people", home_users_path ,class:"btn btn-secondary btn-lg" %>
    <br>
    <br>
  </div>
</div>
