<p><h1><%=@user.name%></h1>
<br>
<div style="width:400px;height:auto">
<%= image_tag(@user.image,style:'width:100%') if @user.image.attached?%>
</div>
<br>
</p>

<table>
  <tr>
    <th>Qty</th>
    <th>Item Name </th>
    <th>Points</th>
  </tr>
   <tr>
    <td><%=@user.inventory.water / 14%></td>
    <td> Fiji Water</td>
    <td><%=@user.inventory.water %></td>
    </tr>
    <tr><td><%=@user.inventory.soup / 12%> </td>
    <td> Soup </td>
    <td><%=@user.inventory.soup %></td>
    </tr>
   <tr>
   <td><%=@user.inventory.pouch / 10%> </td>
    <td> Pouch </td>
    <td><%=@user.inventory.pouch %></td>
    </tr>
    <tr>
    <td><%=@user.inventory.Ak47 / 8%> </td>
    <td> AK47 </td>
    <td><%=@user.inventory.Ak47 %></td>
    </tr>
   </table>
    <%if current_user != @user%>
    <%= link_to "Vote"%>
    <% end %>
    <br>

   <%= link_to "people", home_users_path %>

