<%= form_with(url:tradePage_trade_path , local: true) do |f| %>

  <div class = 'row'>
    <div class = 'col'>
      <%= f.label :waterc %>
      <%= f.number_field :waterc , step: 1 , min:0 %>
    </div>
    <div class = 'col'>
      <%= f.label :watere %>
      <%= f.number_field :watere , step: 1 , min:0 %>
    </div>
  </div>
  <br>
  <br>
  <div class = 'row'>
    <div class = 'col'>
      <%= f.label :soupc %>
      <%= f.number_field :soupc , step: 1 , min:0%>
    </div>
    <div class = 'col'>
      <%= f.label :soupe %>
      <%= f.number_field :soupe , step: 1 , min:0%>
    </div>
  </div>
  <br>
  <br>
  <div class = 'row'>
    <div class = 'col'>
      <%= f.label :pouchc %>
      <%= f.number_field :pouchc , step: 1 , min:0 %>
    </div>
    <div class = 'col'>
      <%= f.label :pouche %>
      <%= f.number_field :pouche , step: 1 , min:0%>
    </div>
  </div>
  <br>
  <br>
  <div class = 'row'>
    <div class = 'col'>
      <%= f.label :ak47c %>
      <%= f.number_field :ak47c, step: 1 , min:0%>
    </div>
    <div class = 'col'>
      <%= f.label :ak47e %>
      <%= f.number_field :ak47e , step: 1 , min:0%>
    </div>
  </div>
  <br>
  <br>
  <%= f.submit 'Send Request' %>
  <br>
  <br>
<% end %>
